# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

In [52]:
import pandas as pd
import numpy as np

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  5. How is "Tidy Data" defined in section 2.3?
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

**Answers**
 1. This paper is about making “Tidy Datasets.” Tidy datasets are well structured and clean, which allows the user to manipulate them in consistent and effective ways.

2. The “tidy data standard” is intended to provide structure to cleaning and organizing data. This component of a data scientist’s job takes up the majority of their time, hence its importance.

3. The tidy framework provides some uniformity to datasets, even if it is a dataset you are not entirely familiar with. Similar to families, you know the basic structure of the thing in question going in. With messy data this is often not the case. The second sentence alludes to the fact that context can be important in understanding datasets, especially when comparing different rows of data as this is not standardized. This is in contrast to looking at any given observation in isolation, where it is easier to define what each column and row means.

4. Values are pieces of information, either in numeric or string form, that are stored within variables. A variable refers to all values that measure “the same underlying attribute” (Think of hair color as the variable, and brown, black, red as the values). An observation refers to the overarching thing or unit being studied across its many attributes (traditionally rows in a dataframe).

5. Tidy data is defined as following three key principles: 1) Each variable forms a column, 2) Each observation forms a row 3) Each type of observational unit forms a table

6. The five most common problems with messy datasets include:
Columns headers are values, not variable names
Multiple variables are stored in one column
Variables are stored in both rows and columns
Multiple types of observational units are stored in the same table
A single observation unit is stored in multiple tables

The data in table 4 is messy because the columns related to income are the actual values those variables take. This falls inline with the problem addressed above where, “Columns headers are values, not variable names.” Income should be an actual variable within this table. A frequency variable could be added also to make this conversion work.

Melting a dataset refers to “turning columns into rows.”

7.  Table 12 has a date column which is more concise than table 11’s setup where each day is given a specific column (in the case of table 11 the dates are not acting as variables). In addition, in table 11 the terms tmax and tmin are variables. This is incorrect as the table should hold individual values, and variables should be within the column headers (done correctly within table 12).

8. The chicken-and-egg problem relates to the idea that as data is made more tidy, additional tools and modifications are needed to operate on the data. As a result, do people stop when such conveniences are not present, or do they continue to make data cleaner which acts as a catalyst for the creation of new tidy tools.

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

Question 2: Part 1: Airbnb Price Variable

Explanation:
*   Initially the price column had prices that contained the ‘,’ character. I replaced this character across all price entries which allowed me to then effectively cast the price column to an integer. When doing so I coerced any values that wouldn't convert from a string to an integer as NaN. In the end, all values effectively converted leaving me with zero missing values.

In [65]:
df = pd.read_csv("./wrangling/assignment/data/airbnb_hw.csv")

#Removing , from prices that have it
df['Price'] = df['Price'].str.replace(',', '')

#With comma gone change all prices into the int data type and things that cant be make NaN
df['Price'] = pd.to_numeric(df['Price'], errors = "coerce")

#Count NaN fields in price column
nan_count = df['Price'].isnull().sum()
print("There are", nan_count, " NaN values within the dataset after cleaning")

unique_prices = df['Price'].unique()
print(unique_prices)
df.head()

There are 0  NaN values within the dataset after cleaning
[  145    37    28   199   549   149   250    90   270   290   170    59
    49    68   285    75   100   150   700   125   175    40    89    95
    99   499   120    79   110   180   143   230   350   135    85    60
    70    55    44   200   165   115    74    84   129    50   185    80
   190   140    45    65   225   600   109  1990    73   240    72   105
   155   160    42   132   117   295   280   159   107    69   239   220
   399   130   375   585   275   139   260    35   133   300   289   179
    98   195    29    27    39   249   192   142   169  1000   131   138
   113   122   329   101   475   238   272   308   126   235   315   248
   128    56   207   450   215   210   385   445   136   247   118    77
    76    92   198   205   299   222   245   104   153   349   114   320
   292   226   420   500   325   307    78   265   108   123   189    32
    58    86   219   800   335    63   229   425    67    87  1200   158
   650   234   310   695   400   166   119    62   168   340   479    43
   395   144    52    47   529   187   209   233    82   269   163   172
   305   156   550   435   137   124    48   279   330  5000   134   378
    97   277    64   193   147   186   264    30  3000   112    94   379
    57   415   236   410   214    88    66    71   171   157   545  1500
    83    96  1800    81   188   380   255   505    54    33   174    93
   740   640  1300   440   599   357  1239   495   127  5999   178   348
   152   242   183   253   750   259   365   273   197   397   103   389
   355   559    38   203   999   141   162   333   698    46   360   895
    10    41   206   281   449   388   212   102   201  2750  4750   432
   675   167   390   298   339   194   302   211   595   191    53   361
   480  8000  4500   459   997   345   216   218   111   735   276    91
   490   850   398    36   775   267   625   336  2500   176   725  3750
   469   106   460   287   575   227   263    25   228   208   177   880
   148   116   685   470   217   164    61   645   699   405   252   319
   268   419   343   525   311   840   154   294   950   409   184   257
   204   241  2000   412   121   288   196   900   647   524  1750   309
   510  1495  1700   799   383   372   492   327  1999   656   224   173
   875  1170   795   690   146   465  1100   151   274   429   825   282
   256  1111   620   271   161    51   855   579  1174   430    20   899
   649   485   181   455  4000   243   342   590   560   374   437   232
   359   985    31   244   254   723   237   428   370    34  1400   580
  2520   221   749  1600  2695   306   202   680   570   520   223  2295
   213  1065   346    24   286   296   266    26   995  1368   393   182
   635   258   780   589   347  1250  1350   446  3200  1050  1650  1550
   975   323  6500  2499  1850  2250   715   461   540   356   439   384
   569  1900    22   785   626   830   318   444   321   401  1499   888
   369   770   386   366   344   630   313   597   262   509 10000   278
   312   789  1195   422    21   765  3500   945   326  3100  2486  3390
  1356  2599   472   454   328   396   291]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

Question 2: Part 2: Shark Type Variable
Explanation:
*   I converted all the boat related incidents in the table to the same label called “Boat Related.” I Converted all the incident type data that was missing, unknown, or pending to share the label “Unknown”. Both these decisions help to make the data more concise by eliminating redundant labels. If desired, also added a line that could convert “Unknown” fields into a null value (could be helpful depending on future decisions / operations run on the dataframe).

In [66]:
df = pd.read_csv("./wrangling/assignment/data/sharks.csv")

#Convert all boat related incidents to share the same tag
df["Type"] = df['Type'].replace(['Sea Disaster', 'Watercraft', 'Boat', 'Boating', 'Boatomg'], "Boat Related")

#Give unknown values a null / missing values
df['Type'] = df['Type'].replace(['Invalid', 'Questionable', 'Unconfirmed', 'Unverified', 'Under investigation'], 'Unknown')

df['Type'] = df['Type'].replace('Unknown', np.nan)

unique_vals = df['Type'].unique()
print(unique_vals)
nan_count = df['Type'].isnull().sum()
print(nan_count)

['Unprovoked' 'Provoked' nan 'Boat Related']
570

<ipython-input-66-f6e480763d2a>:1: DtypeWarning: Columns (10,17,18,19,20,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./wrangling/assignment/data/sharks.csv")

Question 2: Part 3: Dealing with Dummy Variable
Explanation:
*   To clean the variable I checked the code book and saw a value of zero corresponded to not released, one to release, and nine to unclear. Because the number nine is not very informative I decided to change all 9’s present in the specified column to have the value NaN. Lastly, I also changed the column name to make it slightly more brief and memorable.

In [55]:
url = 'http://www.vcsc.virginia.gov/pretrialdataproject/October%202017%20Cohort_Virginia%20Pretrial%20Data%20Project_Deidentified%20FINAL%20Update_10272021.csv'
df = pd.read_csv(url,low_memory=False)

In [56]:
df['wasReleasedPreTrial'] = df['WhetherDefendantWasReleasedPretrial']
#df.head()

unique_vals = df['wasReleasedPreTrial'].unique()
print(unique_vals)

df['wasReleasedPreTrial'] = df['wasReleasedPreTrial'].replace(9, np.nan)
sum(df['wasReleasedPreTrial'].isnull())

[9 0 1]

31

Question 2: Part 4: Missing Values, not at random.
Explanation:
*   To clean the related variables I looked at the relationship between ImposedSentence and SentenceType. I began by converting the imposed sentence into a numeric variable. Then I realized that for all places where SetenceType == 9, I would not have an associated number within the ImposedSentence variable. The mask method allowed me to simply cast all entries with a SentenceType == 9 to have an ImposedSentence of NaN. I found a similar relationship existed when SentenceType == 4. In this case the ImposedSentence would always be of length 0 so I was able to use the mask method once again to ensure within the dataset.

In [64]:
df["ImposedSentenceAllChargeInContactEvent"] = pd.to_numeric(df["ImposedSentenceAllChargeInContactEvent"], errors = 'coerce')


#columns_to_see = ['SentenceTypeAllChargesAtConvictionInContactEvent', 'ImposedSentenceAllChargeInContactEvent']
#df[columns_to_see].head()

#.mask(condition to be met, what to replace with)- also seen in handout
df["ImposedSentenceAllChargeInContactEvent"] = df["ImposedSentenceAllChargeInContactEvent"].mask ( df['SentenceTypeAllChargesAtConvictionInContactEvent'] == 9, np.nan)
df["ImposedSentenceAllChargeInContactEvent"] = df["ImposedSentenceAllChargeInContactEvent"].mask ( df['SentenceTypeAllChargesAtConvictionInContactEvent'] == 4, 0)

print(pd.crosstab(df["ImposedSentenceAllChargeInContactEvent"].isnull(), df['SentenceTypeAllChargesAtConvictionInContactEvent']))

df["ImposedSentenceAllChargeInContactEvent"].isnull().sum()

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914  8779    0
True                                                 0     0    0     0  274

274

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?